absl-py==2.1.0
arcade==2.6.17
asgiref==3.8.1
attrs==23.1.0
beautifulsoup4==4.12.2
blinker==1.6.2
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
click==8.1.7
colorama==0.4.6
comtypes==1.2.0
contourpy==1.2.0
cycler==0.12.1
distlib==0.3.8
Django==5.1.5
EasyProcess==1.1
entrypoint2==1.1
filelock==3.15.4
Flask==2.3.3
flask-cors==5.0.1
Flask-SQLAlchemy==3.1.1
flatbuffers==24.3.6
fonttools==4.49.0
greenlet==3.0.3
gTTS==2.3.2
idna==3.4
itsdangerous==2.1.2
jax==0.4.25
Jinja2==3.1.2
joblib==1.3.2
kiwisolver==1.4.5
MarkupSafe==2.1.3
matplotlib==3.8.3
mediapipe==0.10.11
ml-dtypes==0.3.2
MouseInfo==0.1.3
mss==9.0.1
numpy==1.26.4
opencv-contrib-python==4.9.0.80
opencv-python==4.9.0.80
opencv-python-headless==4.9.0.80
opt-einsum==3.3.0
packaging==23.2
pandas==2.2.1
Pillow==9.3.0
platformdirs==4.2.2
protobuf==3.20.3
PyAutoGUI==0.9.54
pycparser==2.21
pygame==2.5.1
PyGetWindow==0.0.9
pyglet==2.0.dev23
PyMsgBox==1.0.9
pymunk==6.4.0
pyparsing==3.1.2
PyPDF2==3.0.1
pyperclip==1.8.2
pypiwin32==223
PyRect==0.2.0
pyscreenshot==3.1
PyScreeze==0.1.29
python-dateutil==2.9.0.post0
python-dotenv==1.0.0
pytiled-parser==2.2.0
pyttsx3==2.90
pytweening==1.0.7
pytz==2024.1
pywhatkit==5.4
pywin32==306
random2==1.0.1
requests==2.31.0
scikit-learn==1.4.1.post1
scipy==1.12.0
six==1.16.0
sounddevice==0.4.6
soupsieve==2.5
SpeechRecognition==3.10.0
SQLAlchemy==2.0.28
sqlparse==0.5.3
threadpoolctl==3.4.0
typing_extensions==4.8.0
tzdata==2025.1
urllib3==2.0.4
virtualenv==20.26.3
Werkzeug==2.3.7
wikipedia==1.4.0
